services:
  - type: web
    name: bestcement-backend
    env: node
    plan: free
    dir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: DATABASE_URL
        scope: build
        sync: false
      - key: JWT_SECRET
        scope: build
        sync: false
      - key: NODE_ENV
        value: production
